<h1>E aí {{ organizer }}!</h1>
<p>Alguém se inscreveu no seu <strong>meetup</strong> "{{ meetup }}", que legal!</p>

<img align="center" src="https://i.imgur.com/MU7Yira.gif">

<h3>Os dados do inscrito estão abaixo:</h3>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>E-mail: </strong> <a href="mailto:{{ email }}">{{ email}}</a> <br />
</p>
